body{
  margin: 0;
  background-color: #B748CF;
}

.hr{
    margin-left: 400px;
    margin-right: 400px;
    border: 5px solid #0DEF3A;
    border-radius: 25px;
    background-color: #0DEF3A;
    color: red;
    text-shadow: 0 0 26px #0A0A09,0 0 26px #EDD20E;
}
.st {
  margin-left: 600px;
  margin-right: 600px;
  color: #295DF2;
  border: 2px dotted black;

}
.student{
  margin: 0;
  background-color: #60DC91;
}
.st2{
  margin: 0;
  background-color: #ECECEC;
}
.add{
  background-color: #1C51D5;
}
.oth{
  background-color: #E510D8;
}
